@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: royalblue;
}

body {
  background: black;
}